---
permalink: /feed.json
---
[
  {%- set comma = joiner(",") -%}
  {%- for post in collections.all -%}
    {%- if post.data.title and post.url != "/" and post.url != "/feed.json" -%}
      {{ comma() }}
      {
        "title": {{ post.data.title | dump | safe }},
        "date": "{{ post.date | postDate }}",
        "url": "{{ post.url }}",
        "excerpt": {{ post.templateContent | striptags | truncate(200) | dump | safe }}
      }
    {%- endif -%}
  {%- endfor -%}
]