@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --bg: #3c3836;
    --fg: #ebdbb2;
    --red: #fb4934;
    --yellow: #fabd2f;
    --green: #b8bb26;
    --tan: #d5c4a1;
    --border: #7c6f64;

    --width: 96%;
}

* {
  font-family: 'Fira Code' !important;
  scrollbar-width: none;
  font-weight: 425;

}

p {
  font-size: 1.12pc;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    margin: 0 auto;
    padding: 10px; /*always leave some padding outside all content*/
    line-height: 1.5;
    display: flex;
    align-items: center;
}

body:not(head) {
  display: flex;
  flex-direction: column;
}


header {
  gap: 16px;
  width: 98%;
  border-bottom: solid 2px #ebdbb2;
}

.header {
  font-size: 1.4pc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.links {
  display: flex;
  flex-grow: 1;
}


.github-logo {
  max-width: 700px;
  max-height: 70px;
}

.title-container {
  display: flex;
  flex-shrink: 1;
}

.bruh {
  display: flex;
}

.title {
  color: var(--red) !important;
  text-decoration: none;
  margin: 0;
}

a {
  color: #b8bb26;
  text-decoration: none;
}

a:hover:not(.title):not(.nav):not(.bruh) {
  color: #b8bb26d0;
  text-decoration: underline;
}

a.bruh:hover {
  text-decoration: none;
  color: inherit;
}

/* Style main page here */


/*make nav bar sticky*/
nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--bg);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px #ebdbb2;
  width: var(--width);

}

nav .nav a {
  color: #df5611;
  font-size: 1.4pc;
  position: relative;
}

nav .nav a:hover {
  color: #df5611 !important;
  text-decoration: none !important;
}

/* add a current bar under the selected category in next commit*/
nav .nav a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--green);
  transition: width 0.2s ease;
}

nav .nav a:hover::after {
  width: 100%;
}

main {
  width: var(--width);
}

/* The "Random Article" section styling */
#random-article-container {
    margin-top: 25px;
}

.button-grid {
  padding-bottom: 20px;
  border-bottom: solid 2px #ebdbb2;
}

/*include hr just in case it is used by the .md files*/ 
hr {
  border-bottom: solid 2px #ebdbb2;
}

.random-snippet .article-title {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.random-snippet .article-title a {
    color: var(--red);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.random-snippet .article-excerpt {
    color: var(--text-color);
    font-size: 1.1rem;
    margin-top: 15px;
    line-height: 1.4;
}

